# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp

# Docker
.docker/

# OS
.DS_Store
Thumbs.db